In [1]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv('data0521.csv')
print(df.head())
print(type(df))

         x1        x2        x3        x4        x5         y
0  0.496714  0.926178  1.399355  0.778361 -0.675178  2.084214
1 -0.138264  1.909417  0.924634 -0.551186 -0.144519  1.300723
2  0.647689 -1.398568  0.059630 -0.818199 -0.792420 -0.309010
3  1.523030  0.562969 -0.646937 -0.003374 -0.307962  6.462035
4 -0.234153 -0.650643  0.698223 -0.170185 -1.893615 -2.023831
<class 'pandas.core.frame.DataFrame'>

In [107]:
a = input()
print(a)

sdsd
sdsd

In [108]:
df = df.sort_values(by = 'x1')
df.head()

           x1        x2        x3        x4        x5          y
262 -3.241267  2.560085  0.538756  0.075434  1.235782  -7.488423
74  -2.619745  0.829406  0.996267  0.466430 -0.617652  -4.872541
471 -2.301921 -0.681052 -0.609783 -2.940389  2.363872 -11.965367
382 -2.123896 -0.489439  2.157308 -1.234349  0.343788 -13.427352
442 -2.067442  0.650201  0.181022  0.269127 -1.292263  -3.182571

In [109]:
df = df.reset_index(drop=True, inplace=False)

In [110]:
df.head()

         x1        x2        x3        x4        x5          y
0 -3.241267  2.560085  0.538756  0.075434  1.235782  -7.488423
1 -2.619745  0.829406  0.996267  0.466430 -0.617652  -4.872541
2 -2.301921 -0.681052 -0.609783 -2.940389  2.363872 -11.965367
3 -2.123896 -0.489439  2.157308 -1.234349  0.343788 -13.427352
4 -2.067442  0.650201  0.181022  0.269127 -1.292263  -3.182571

In [111]:
df.sort_values(by = 'x1',ascending = False)

           x1        x2        x3        x4        x5          y
499  3.852731  1.696456  1.749577 -0.974529 -0.000709  11.388366
498  3.078881 -1.583903 -0.887492 -0.772878 -1.338606  10.167277
497  2.720169  1.271555 -1.103589 -0.431620  0.006800  11.658114
496  2.463242 -1.125489  0.495682 -0.077837 -1.002187   5.843963
495  2.314659  0.307802 -1.187598  0.513106 -0.358340  12.575525
..        ...       ...       ...       ...       ...        ...
4   -2.067442  0.650201  0.181022  0.269127 -1.292263  -3.182571
3   -2.123896 -0.489439  2.157308 -1.234349  0.343788 -13.427352
2   -2.301921 -0.681052 -0.609783 -2.940389  2.363872 -11.965367
1   -2.619745  0.829406  0.996267  0.466430 -0.617652  -4.872541
0   -3.241267  2.560085  0.538756  0.075434  1.235782  -7.488423

[500 rows x 6 columns]

In [112]:
df.head()

         x1        x2        x3        x4        x5          y
0 -3.241267  2.560085  0.538756  0.075434  1.235782  -7.488423
1 -2.619745  0.829406  0.996267  0.466430 -0.617652  -4.872541
2 -2.301921 -0.681052 -0.609783 -2.940389  2.363872 -11.965367
3 -2.123896 -0.489439  2.157308 -1.234349  0.343788 -13.427352
4 -2.067442  0.650201  0.181022  0.269127 -1.292263  -3.182571

In [113]:
ind = df[df['x2'] < -1].index

In [114]:
df['x2']

0      2.560085
1      0.829406
2     -0.681052
3     -0.489439
4      0.650201
         ...
495    0.307802
496   -1.125489
497    1.271555
498   -1.583903
499    1.696456
Name: x2, Length: 500, dtype: float64

In [115]:
df['x2'][ind] = 0

In [116]:
df['x2'][ind]

12     0.0
22     0.0
27     0.0
33     0.0
40     0.0
      ...
474    0.0
478    0.0
481    0.0
496    0.0
498    0.0
Name: x2, Length: 71, dtype: float64

In [120]:
df['x2'][ind] = pd.NA

In [121]:
df['x2'][ind]

12    NaN
22    NaN
27    NaN
33    NaN
40    NaN
       ..
474   NaN
478   NaN
481   NaN
496   NaN
498   NaN
Name: x2, Length: 71, dtype: float64

In [143]:
index_1 = pd.Series()
flag = 0
for i in df.index.tolist():
    index_1[flag] = (i not in ind.tolist())
    flag += 1

In [151]:
df['x2'] = df['x2'].fillna(np.mean(df['x2'][index_1]))

In [152]:
df['x2'][ind]

12     0.286243
22     0.286243
27     0.286243
33     0.286243
40     0.286243
         ...
474    0.286243
478    0.286243
481    0.286243
496    0.286243
498    0.286243
Name: x2, Length: 71, dtype: float64

In [153]:
df['x2']

0      2.560085
1      0.829406
2     -0.681052
3     -0.489439
4      0.650201
         ...
495    0.307802
496    0.286243
497    1.271555
498    0.286243
499    1.696456
Name: x2, Length: 500, dtype: float64